//- Author:  Doug Cameron
//- June  14th, 2020
//- Course Module :  Web Application Development CPRG-210-OSD
//- Assignment : 5
//- This the pug code for the 404 page

extends layout
block title
    title 404 Error
block heading
    h1 #{msgFour0Four}  <!-- receive the msg from the app.js file     -->
block content
    div
    section
        .divpicture
            img#image-404(src='404.jpg' alt='404.jpg' title='Open for Lunch Near You')
        .clearfix 