//- Author:  Doug Cameron
//- June  14th, 2020
//- Course Module :  Web Application Development CPRG-210-OSD
//- Assignment : 5
//- This the pug code for the thanks page

extends layout
block title
    title Thanks
block heading
    h1 #{msgThanks}  <!-- receive the msg from the app.js file     --> 





